@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url("assets/Roboto-Regular.ttf") format("opentype");
}

@layer utilities {
  .active-tab {
    @apply text-orange-600;
  }
  .active-tab-indicator {
    @apply bg-orange-600
  }
  .remove-fa-icon-margin {
    --fa-li-margin: 0;
  };
}
